<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccf.springbootmybatis.mapper.UsersMapper">
    <insert id="insertUser" parameterType="users">
        insert into TB_USER_INFO （code,user_name,name） values (#{code},#{userName},#{name})
    </insert>
    <select id="findAll" parameterType="users">
        select * from TB_USER_INFO
    </select>
</mapper>