$(function () {
    $("#jqGrid").jqGrid({
        url: '${pathName}/select',
        datatype: "json",
        colModel: [
#foreach($column in $columns)
            {label: '${column.comments}', name: '${column.attrname}', width: 100, key: true}
    #if($velocityCount != $columns.size()),#end
#end
        ],
        viewrecords: true,
        height: 385,
        rowNum: 10,
        rowList: [10, 30, 50, 100, 200],
        rownumbers: true,
        rownumWidth: 25,
        autowidth: true,
        multiselect: true,
        pager: "#jqGridPager",
        jsonReader: {
            root: "page.list",
            page: "page.currPage",
            total: "page.totalPage",
            records: "page.totalCount"
        },
        prmNames: {
            page: "page",
            rows: "limit",
            order: "order"
        },
        gridComplete: function () {
            //隐藏grid底部滚动条
            $("#jqGrid").closest(".ui-jqgrid-bdiv").css({"overflow-x": "hidden"});
        }
    });
});

var vm = new Vue({
    el: '#rrapp',
    data: {
        q: {
            tableName: null
        }
    },
    methods: {
        query: function () {
            $("#jqGrid").jqGrid('setGridParam', {
                postData: {
#foreach($column in $columns)
                    '${column.attrname}': vm.q.${column.attrname}
    #if($velocityCount != $columns.size()),#end
#end
                },
                page: 1
            }).trigger("reloadGrid");
        },
        addHandle: function () {
            my_modal.show();
        }
    }
});

var my_modal = new MyModal.modal(function() {
    alert("你点击了确定");
});